body{
    background-color:#F0F4F7!important;
    padding: 20px;
}
.title{
    margin-bottom: 20px;
    font-size: 18px;
}
#section1>#state1{
    margin-bottom: 30px;
}
#section1>#state1>#form{
    /* height: 20vh; */
    width: 90%;
    background-color: #DFE6ED !important;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  
  background: linear-gradient(to right, #9EADBA 50%, rgba(0, 0, 0, 0) 0%), linear-gradient(rgb(180, 180, 240) 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right,#9EADBA 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#9EADBA
   50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
    /* display: flex; */
    /* justify-content:space-between; */
    /* background-color: red !important; */
    /* align-items: center; */
}
#user_form{
    width: 90%;
    /* background-color: blue; */
    
}
#section1>#state1>#form>form>input[type="text"],#section1>#state1>#form>form>input[type="email"]{
    margin-right: 30px;
    border-radius: 2px;
    border: 1px solid #9ccbf9;
    height: 30px;


}
#section1>#state1>#form>form>input[type="submit"]{
    background-color: #6558F5;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    
    
}
#section1>#state1>#form>form>input::placeholder{
    color:lightgray;
}
#section1>#state2>#userdata>.row.display-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    
  }
#section1>#state2>#userdata>.row.display-flex > [class*='col-'] {
    /* flex-grow: 1 !important; */
    display: flex !important;
    margin-bottom: 20px;
    flex-direction: column;
  }
   
    

