body{
    background-color:#F0F4F7 !important;
    padding: 20px;
}
.title{
    margin-bottom: 20px;
    font-size: 18px;
}
#section1>#state1{
    margin-bottom: 30px;
}
#section1>#state1>#form{
    height: 20vh;
    background-color: #DFE6ED  !important;
  background: linear-gradient(to right, #9EADBA 50%, rgba(0, 0, 0, 0) 0%), linear-gradient(#9EADBA 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #9EADBA 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#9EADBA
   50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1>#state2>#userdata>.row.display-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    
  }
#section1>#state2>#userdata>.row.display-flex > [class*='col-'] {
    flex-grow: 1 !important;
    margin-bottom: 20px;
  }
   
    

